body { 
    margin: 0; 
    padding: 0; 
}

/* Map */
#map { 
  position: absolute; 
  top: 0; 
  bottom: 0px; 
  width: 100%; 
  height: auto;}

/*Pop-up*/
.mapboxgl-popup {
  max-width: 200px;
  max-height: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/*Markers*/

:root {
  --bg-color: rgba(100, 87, 85, 1);
}

.marker-bar {
  background-image: url(./images/Cocktail.png);
  background-color: var(--bg-color);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: help;
}

.marker-gym {
  background-image: url(./images/Dumbbell.png);
  background-color: var(--bg-color);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: help;
}

.marker-music {
  background-image: url(./images/Rock\ Music.png);
  background-color: var(--bg-color);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: help;
}

.marker-current {
  background-image: url(./images/sideye.jpg);
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: help;
}

.marker-boardgame {
  background-image: url(./images/Dice.png);
  background-color: var(--bg-color);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: help;
}

.marker-sauna {
  background-image: url(./images/Frame\ 5.png);
  background-color: var(--bg-color);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: help;
}

#btn {
  width: 296px;
  text-align: center;
  background-color: rgba(100, 87, 85, 0.7);
  border-radius: 30px;
  margin-left: 60px;   
  margin-top: 50.7%;
  position: absolute;
  z-index: 1000 /*button above the map*/

}

.btn_class {
  width: 100px;
  line-height: 90px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;

}