body {
    margin: 0;
    height: 1080px;
    width: 1920px;
    background-image: url(images/brick_white.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
}

/* COLORS */
:root {
    --buttons-color: rgba(100, 87, 85, 0.7);
    --page-titles-and-background: rgba(135,126,124);
}

/* HEADER */
#header {
    height: 100px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
}

#back_arrow {
    width: 100px;
    height: 70px;
    font-size: 50px;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: lightgray;
    margin-left: 20px;
    margin-top: 20px;
}

#back_arrow a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 3px;
    left: -2px;
}

/* MAIN PAGE */
#main_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.main_link {
    width: 500px;
    height: 350px;
    background-color: var(--div-bg-color);
    padding: 30px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 40px;
}

/* EVENTS */
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

/* FACILITIES*/

#title_div {
    color: var(--page-titles-and-background);
    margin-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.title {
    color: white;
    text-align: center;
    justify-items: center;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#boxes1,#boxes2 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    justify-content: space-between;
}

.box {
    background-color: var(--page-titles-and-background);
    width: 25%;
    height: auto;
    text-align: center;
    border-radius: 40px;
}

#boxes3 {
    width: 296px;
    text-align: center;
    background-color: var(--buttons-color);
    border-radius: 30px;
    margin-left: 60px;   
}

.back {
    color: white;
    font-size: 3rem;
    line-height:90px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
    

.img {
    width: 40%;
    height: 60%;
    align-items: center;
    padding-top: 7%;
}


/* CONTACT */

#title_contact {
    color: red;
}
