body {
    margin: 0;
    height: 1080px;
    width: 1920px;
    background-image: url(images/brick_white.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.header2 {
    height: 100px;
    /* z-index: 1000; */
    position: absolute;
    width: 1900px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* COLORS */
:root {
    --buttons-color: rgba(100, 87, 85, 0.7);
    --page-titles-and-background: rgba(135, 126, 124);
}

/* HEADER */
#main_header {
    height: 100px;
    /* width: 1920px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#fb_qr {
    display: flex;
}

#fb_qr p {
    font-size: 30px;
    margin-left: 20px;
}

.lang_change {
    display: flex;
}

.lang_change p {
    font-size: 40px;
}

#back_arrow {
    width: 100px;
    height: 70px;
    font-size: 50px;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: lightgray;
    margin-left: 20px;
    margin-top: 20px;
}

#back_arrow a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 3px;
    left: -2px;
}

/* MAIN PAGE */

#main_boxes1,
#main_boxes2 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    /* margin-left: 20px; */
    justify-content: space-evenly;
}

.box_main {
    background-color: var(--page-titles-and-background);
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 40px;
}

/* EVENTS */

#events_boxes1 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    justify-content: space-between;
}

.box_events {
    background-color: var(--page-titles-and-background);
    width: 500px;
    height: 566px;
    text-align: center;
    border-radius: 40px;
}

.box_events p {
    font-size: 20px;
}

.box_events img {
    width: 500px;
    padding-top: 0;
}

/* HALLOWEEN */

/* FACILITIES*/

.title_div {
    color: var(--page-titles-and-background);
    margin-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.title {
    color: white;
    text-align: center;
    justify-items: center;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#boxes1,
#boxes2 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    justify-content: space-between;
}

.box {
    background-color: var(--page-titles-and-background);
    width: 25%;
    height: auto;
    text-align: center;
    border-radius: 40px;
}

.boxes3 {
    width: 296px;
    text-align: center;
    background-color: var(--buttons-color);
    border-radius: 30px;
    margin-left: 60px;
}

.back {
    color: white;
    font-size: 3rem;
    line-height: 90px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.img {
    width: 40%;
    height: 60%;
    align-items: center;
    padding-top: 7%;
}

/* CONTACT */

#title_contact {
    color: red;
}