body {
    margin: 0;
    height: 1080px;
    width: 1920px;
    background-image: url(images/brick_white.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.header2 {
    height: 120px;
    /* z-index: 1000; */
    position: absolute;
    width: 1800px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}



/* COLORS */
:root {
    font-family: Arial, Helvetica, sans-serif;
    --buttons-color: #4A545D;
    --page-titles-and-background: #4A545D;
}

/* HEADER */
#main_header {
    height: 120px;
    width: 1800px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--buttons-color);
}

#fb_qr {
    display: flex;
}

#fb_qr p {
    font-size: 30px;
    margin-left: 20px;
}

.lang_change {
    display: flex;
    color: var(--buttons-color);
    align-items: center;
}

.lang_change p {
    position: relative;
    top: 2px;
    margin-left: 5px;
    font-size: 40px;
}

#back_arrow {
    width: 100px;
    height: 70px;
    font-size: 50px;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: lightgray;
    margin-left: 20px;
    margin-top: 20px;
}

#back_arrow a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 3px;
    left: -2px;
}

/* MAIN PAGE */

#main_boxes1,
#main_boxes2 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    /* margin-left: 20px; */
    justify-content: space-evenly;
}

.box_main {
    background-color: var(--page-titles-and-background);
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 40px;
}

/* EVENTS */

#events_boxes1 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    justify-content: space-between;
}

.box_events {
    background-color: var(--page-titles-and-background);
    width: 500px;
    height: 566px;
    text-align: center;
    border-radius: 40px;
}

.box_events p {
    font-size: 20px;
}

.box_events img {
    width: 500px;
    padding-top: 0;
}

/* HALLOWEEN */

#halloween_body {
    background-image: url(images/halloween_bgr.png);
}

#halloween_main {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--buttons-color);
    width: 90%;
    height: 70%;
    border-radius: 40px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.biggg {
    font-size: larger;
    font-weight: bolder;
}

#title_date {
    display: flex;
    justify-content: space-between;
}

#title_date h1 {
    font-size: 100px;
}

/* FACILITIES*/

.title_div {
    color: var(--page-titles-and-background);
    margin-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.title {
    color: white;
    text-align: center;
    justify-items: center;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#boxes1,
#boxes2 {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    justify-content: space-between;
}

.box {
    background-color: var(--page-titles-and-background);
    width: 25%;
    height: auto;
    text-align: center;
    border-radius: 40px;
}

.boxes3 {
    width: 296px;
    text-align: center;
    background-color: var(--buttons-color);
    border-radius: 30px;
    margin-left: 60px;
}

.back {
    color: white;
    font-size: 3rem;
    line-height: 90px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.img {
    width: 40%;
    height: 60%;
    align-items: center;
    padding-top: 7%;
}

/* CONTACT */

.title_contact_div {
    color: var(--page-titles-and-background);
    margin-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.caretaker {
    width: 40%;
    display: inline-block;
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    padding-bottom: 3%;
}

.contact_info {
    width: 40%;
    float: right;
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5%;
}